body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.img {
  position: absolute;
  background-size: 512px 712px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sad {
  background-image: url(./images/emjSad.jpg);
}

.smile {
  background-image: url(./images/emjSmile.jpg);
}

.yuha {
  background-image: url(./images/yuhaEmj.png);
}